{{#each songlist as |song|}}
  <div class="row song-entry">
    <div class="col-xs-8 col-sm-8 col-md-8">{{song.title}} by {{song.artist}}</div>
    <div class="col-xs-4 col-sm-4 col-md-4" {{action 'playSong' song}}>Play</div>
  </div>
{{/each}}
