<div id="player-info" class="col-xs-12 col-sm-12 col-md-12">
  <h4 id="player-title">{{currentSong.title}}</h4>
  <p id="player-artist">{{currentSong.artist}}</p>
  <audio controls src={{currentSong.source}} type="audio/mpeg"></audio>
  <p>Testing something {{mytest}}</p>
</div>