/****************** TOP BANNER STYLING *********************/

#app-header {
  
  color: blue;

  #logo-banner {
    text-align: center;
  }

  nav {
    div {
      text-align: center;
      color: orange;
    }
  }

}