<div id="app-container" className="container-fluid">
  <header id="app-header">
    This is the header.
  </header>
  <main id="app-body">
    {{outlet}}
  </main>
  <footer id="app-footer">
    This is the footer
  </footer>

</div>
