<div id="hey-look" class="container-fluid">
  {{listen-player class="row" id="music-player" currentSong=currentSong}}
  <div class="row">
    {{listen-queue id="listen-queue" class="col-sm-12 col-sm-push-8 col-md-4" queueList=songQueue playSong=(action 'playFromQueue')}}
    {{listen-songlist id="listen-list" class="col-sm-12 col-sm-pull-4 col-md-8" 
      songlist=model newSong=(action 'newSong') addQueue=(action 'addQueue')}}
  </div>
</div>

{{outlet}}
